<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Guild Roster</title>
        <meta name="description" content="Guild raiding roster for WoD">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="assets/style.css">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    </head>
	<body ng-app="guildRosterApp">
		<div ng-controller="guildRosterCtrl">
			<nav class="navbar navbar-default">
				<span class="navbar-brand">{{guildName}}</span>
				<span class="navbar-text">{{guildRealm}}</span>
				<form class="navbar-form navbar-left">
					<div class="input-group">
						<div class="input-group-addon"><i class="fa fa-user"></i></div>
						<input type="text" class="form-control" placeholder="Name" ng-model="formcharacter">
					</div>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Realm" typeahead="name for name in realms | filter:$viewValue | limitTo:8" ng-model="formRealm">
					</div>
					<button type="submit" class="btn btn-default" ng-click="addcharacter()">Add</button>
				</form>
				<form class="navbar-form navbar-left" Role="search">
					<div class="input-group">
						<div class="input-group-addon"><i class="fa fa-search"></i></div>
						<input type="text" class="form-control" placeholder="Search Roster" ng-model="searchRoster">
					</div>
				</form>
			</nav>
			<div ng-show="errorText" class="alert alert-danger" role="alert">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span class="sr-only">Error:</span>
				{{errorText}}
			</div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th ng-click="orderByField='name'; reverseSort = !reverseSort">
							# Name
							<span ng-show="orderByField == 'name' && !reverseSort" class="fa fa-caret-down"></span>
        					<span ng-show="orderByField == 'name' && reverseSort" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="orderByField='primarySpec'; reverseSort = !reverseSort">
							Roles
							<span ng-show="orderByField == 'primarySpec' && !reverseSort" class="fa fa-caret-down"></span>
        					<span ng-show="orderByField == 'primarySpec' && reverseSort" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="orderByField='ilevel'; reverseSort = !reverseSort">
							iLevel
							<span ng-show="orderByField == 'ilevel' && !reverseSort" class="fa fa-caret-down"></span>
        					<span ng-show="orderByField == 'ilevel' && reverseSort" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="orderByField='maxRing'; reverseSort = !reverseSort">
							Ring
							<span ng-show="orderByField == 'maxRing' && !reverseSort" class="fa fa-caret-down"></span>
        					<span ng-show="orderByField == 'maxRing' && reverseSort" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="orderByField='head'; reverseSort = !reverseSort">
							Head
							<span ng-show="orderByField == 'head' && !reverseSort" class="fa fa-caret-down"></span>
        					<span ng-show="orderByField == 'head' && reverseSort" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="orderByField='neck'; reverseSort = !reverseSort">
							Neck
							<span ng-show="orderByField == 'neck' && !reverseSort" class="fa fa-caret-down"></span>
        					<span ng-show="orderByField == 'neck' && reverseSort" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="orderByField='shoulder'; reverseSort = !reverseSort">
							Shoulder
							<span ng-show="orderByField == 'shoulder' && !reverseSort" class="fa fa-caret-down"></span>
        					<span ng-show="orderByField == 'shoulder' && reverseSort" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="orderByField='back'; reverseSort = !reverseSort">
							Back
							<span ng-show="orderByField == 'back' && !reverseSort" class="fa fa-caret-down"></span>
        					<span ng-show="orderByField == 'back' && reverseSort" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="orderByField='chest'; reverseSort = !reverseSort">
							Chest
							<span ng-show="orderByField == 'chest' && !reverseSort" class="fa fa-caret-down"></span>
        					<span ng-show="orderByField == 'chest' && reverseSort" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="orderByField='wrist'; reverseSort = !reverseSort">
							Wrist
							<span ng-show="orderByField == 'wrist' && !reverseSort" class="fa fa-caret-down"></span>
        					<span ng-show="orderByField == 'wrist' && reverseSort" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="orderByField='hands'; reverseSort = !reverseSort">
							Hands
							<span ng-show="orderByField == 'hands' && !reverseSort" class="fa fa-caret-down"></span>
        					<span ng-show="orderByField == 'hands' && reverseSort" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="orderByField='waist'; reverseSort = !reverseSort">
							Waist
							<span ng-show="orderByField == 'waist' && !reverseSort" class="fa fa-caret-down"></span>
        					<span ng-show="orderByField == 'waist' && reverseSort" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="orderByField='legs'; reverseSort = !reverseSort">
							Legs
							<span ng-show="orderByField == 'legs' && !reverseSort" class="fa fa-caret-down"></span>
        					<span ng-show="orderByField == 'legs' && reverseSort" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="orderByField='feet'; reverseSort = !reverseSort">
							Feet
							<span ng-show="orderByField == 'feet' && !reverseSort" class="fa fa-caret-down"></span>
        					<span ng-show="orderByField == 'feet' && reverseSort" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="orderByField='ring1'; reverseSort = !reverseSort">
							Ring
							<span ng-show="orderByField == 'ring1' && !reverseSort" class="fa fa-caret-down"></span>
        					<span ng-show="orderByField == 'ring1' && reverseSort" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="orderByField='ring2'; reverseSort = !reverseSort">
							Ring
							<span ng-show="orderByField == 'ring2' && !reverseSort" class="fa fa-caret-down"></span>
        					<span ng-show="orderByField == 'ring2' && reverseSort" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="orderByField='trinket1'; reverseSort = !reverseSort">
							Trinket
							<span ng-show="orderByField == 'trinket1' && !reverseSort" class="fa fa-caret-down"></span>
        					<span ng-show="orderByField == 'trinket1' && reverseSort" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="orderByField='trinket2'; reverseSort = !reverseSort">
							Trinket
							<span ng-show="orderByField == 'trinket2' && !reverseSort" class="fa fa-caret-down"></span>
        					<span ng-show="orderByField == 'trinket2' && reverseSort" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="orderByField='mh'; reverseSort = !reverseSort">
							MH
							<span ng-show="orderByField == 'mh' && !reverseSort" class="fa fa-caret-down"></span>
        					<span ng-show="orderByField == 'mh' && reverseSort" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="orderByField='oh'; reverseSort = !reverseSort">
							OH
							<span ng-show="orderByField == 'oh' && !reverseSort" class="fa fa-caret-down"></span>
        					<span ng-show="orderByField == 'oh' && reverseSort" class="fa fa-caret-up"></span>
						</th>
	          			<th ng-click="orderByField='highmaulNormal'; reverseSort = !reverseSort">
	          				N HM
	          				<span ng-show="orderByField == 'highmaulNormal' && !reverseSort" class="fa fa-caret-down"></span>
        					<span ng-show="orderByField == 'highmaulNormal' && reverseSort" class="fa fa-caret-up"></span>
	          			</th>
	          			<th ng-click="orderByField='highmaulHeroic'; reverseSort = !reverseSort">
	          				H HM
	          				<span ng-show="orderByField == 'highmaulHeroic' && !reverseSort" class="fa fa-caret-down"></span>
        					<span ng-show="orderByField == 'highmaulHeroic' && reverseSort" class="fa fa-caret-up"></span>
	          			</th>
	          			<th ng-click="orderByField='highmaulMythic'; reverseSort = !reverseSort">
	          				M HM
	          				<span ng-show="orderByField == 'highmaulMythic' && !reverseSort" class="fa fa-caret-down"></span>
        					<span ng-show="orderByField == 'highmaulMythic' && reverseSort" class="fa fa-caret-up"></span>
	          			</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="character in characters | orderBy: orderByField : reverseSort | filter:searchRoster">
						<td class="color-c{{character.class}} name"><a href="http://us.battle.net/wow/en/character/{{characterRealm}}/{{character.name}}/simple">{{character.name}}</a></td>
						<td>{{character.primarySpec}}, {{character.secondarySpec}}</td>
						<td class="{{character.ilevelThreshold}}">{{character.items.averageItemLevelEquipped}}</td>
						<td class="{{character.maxRingThreshold}}">{{character.maxRing}}</td>
						<td ng-class="{'danger': (character.items.head.itemLevel <= iLvlThreshold)}" class="color-q{{character.items.head.quality}}"><a href="http://www.wowhead.com/item={{character.items.head.id}}" rel="item={{character.items.head.id}}">{{character.items.head.itemLevel}}</a></td>
						<td ng-class="{'danger': (character.items.neck.itemLevel <= iLvlThreshold)}" class="color-q{{character.items.neck.quality}} {{getEnchant(character.items.neck)}}"><a href="http://www.wowhead.com/item={{character.items.neck.id}}" rel="item={{character.items.neck.id}}">{{character.items.neck.itemLevel}}</a></td>
						<td ng-class="{'danger': (character.items.shoulder.itemLevel <= iLvlThreshold)}" class="color-q{{character.items.shoulder.quality}}"><a href="http://www.wowhead.com/item={{character.items.shoulder.id}}" rel="item={{character.items.shoulder.id}}">{{character.items.shoulder.itemLevel}}</a></td>
						<td ng-class="{'danger': (character.items.back.itemLevel <= iLvlThreshold)}" class="color-q{{character.items.back.quality}} {{getEnchant(character.items.back)}}"><a href="http://www.wowhead.com/item={{character.items.back.id}}" rel="item={{character.items.back.id}}">{{character.items.back.itemLevel}}</a></td>
						<td ng-class="{'danger': (character.items.chest.itemLevel <= iLvlThreshold)}" class="color-q{{character.items.chest.quality}}"><a href="http://www.wowhead.com/item={{character.items.chest.id}}" rel="item={{character.items.chest.id}}">{{character.items.chest.itemLevel}}</a></td>
						<td ng-class="{'danger': (character.items.wrist.itemLevel <= iLvlThreshold)}" class="color-q{{character.items.wrist.quality}}"><a href="http://www.wowhead.com/item={{character.items.wrist.id}}" rel="item={{character.items.wrist.id}}">{{character.items.wrist.itemLevel}}</a></td>
						<td ng-class="{'danger': (character.items.hands.itemLevel <= iLvlThreshold)}" class="color-q{{character.items.hands.quality}}"><a href="http://www.wowhead.com/item={{character.items.hands.id}}" rel="item={{character.items.hands.id}}">{{character.items.hands.itemLevel}}</a></td>
						<td ng-class="{'danger': (character.items.waist.itemLevel <= iLvlThreshold)}" class="color-q{{character.items.waist.quality}}"><a href="http://www.wowhead.com/item={{character.items.waist.id}}" rel="item={{character.items.waist.id}}">{{character.items.waist.itemLevel}}</a></td>
						<td ng-class="{'danger': (character.items.legs.itemLevel <= iLvlThreshold)}" class="color-q{{character.items.legs.quality}}"><a href="http://www.wowhead.com/item={{character.items.legs.id}}" rel="item={{character.items.legs.id}}">{{character.items.legs.itemLevel}}</a></td>
						<td ng-class="{'danger': (character.items.feet.itemLevel <= iLvlThreshold)}" class="color-q{{character.items.feet.quality}}"><a href="http://www.wowhead.com/item={{character.items.feet.id}}" rel="item={{character.items.feet.id}}">{{character.items.feet.itemLevel}}</a></td>
						<td ng-class="{'danger': (character.items.finger1.itemLevel <= iLvlThreshold)}" class="color-q{{character.items.finger1.quality}} {{getEnchant(character.items.finger1)}}"><a href="http://www.wowhead.com/item={{character.items.finger1.id}}" rel="item={{character.items.finger1.id}}">{{character.items.finger1.itemLevel}}</a></td>
						<td ng-class="{'danger': (character.items.finger2.itemLevel <= iLvlThreshold)}" class="color-q{{character.items.finger2.quality}} {{getEnchant(character.items.finger2)}}"><a href="http://www.wowhead.com/item={{character.items.finger2.id}}" rel="item={{character.items.finger2.id}}">{{character.items.finger2.itemLevel}}</a></td>
						<td ng-class="{'danger': (character.items.trinket1.itemLevel <= iLvlThreshold)}" class="color-q{{character.items.trinket1.quality}}"><a href="http://www.wowhead.com/item={{character.items.trinket1.id}}" rel="item={{character.items.trinket1.id}}">{{character.items.trinket1.itemLevel}}</a></td>
						<td ng-class="{'danger': (character.items.trinket2.itemLevel <= iLvlThreshold)}" class="color-q{{character.items.trinket2.quality}}"><a href="http://www.wowhead.com/item={{character.items.trinket2.id}}" rel="item={{character.items.trinket2.id}}">{{character.items.trinket2.itemLevel}}</a></td>
						<td ng-class="{'danger': (character.items.mainHand.itemLevel <= iLvlThreshold)}" class="color-q{{character.items.mainHand.quality}} {{getEnchant(character.items.mainHand)}}"><a href="http://www.wowhead.com/item={{character.items.mainHand.id}}" rel="item={{character.items.mainHand.id}}">{{character.items.mainHand.itemLevel}}</a></td>
						<td ng-class="{'danger': (character.items.offHand.itemLevel && character.oh <= iLvlThreshold)}" class="color-q{{character.ohQuality}}"><a href="http://www.wowhead.com/item={{character.ohId}}" rel="item={{character.ohId}}">{{character.items.offHand.itemLevel}}</a></td>
						<td>{{character.highmaulNormal}}</td>
						<td>{{character.highmaulHeroic}}</td>
						<td>{{character.highmaulMythic}}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js"></script>
		<script type="text/javascript" src="app/typeahead.js"></script>
		<script type="text/javascript" src="app/app.js"></script>
		<script type="text/javascript" src="http://static.wowhead.com/widgets/power.js"></script>
	</body>
</html>