<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Guild Roster</title>
        <meta name="description" content="Guild raiding roster for WoD">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="assets/style.css">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    </head>
	<body ng-app="guildRosterApp">
		<div ng-controller="guildRosterCtrl">
			<nav class="navbar navbar-default">
				<span class="navbar-brand">{{guildName}}</span>
				<span class="navbar-text">{{guildRealm}}</span>
				<form class="navbar-form navbar-left">
					<div class="input-group">
						<div class="input-group-addon"><i class="fa fa-user"></i></div>
						<input type="text" class="form-control" placeholder="Name" ng-model="formcharacter">
					</div>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Realm" typeahead="name for name in realms | filter:$viewValue | limitTo:8" ng-model="formRealm">
					</div>
					<button type="submit" class="btn btn-default" ng-click="addCharacter(formcharacter,formRealm)">Add</button>
				</form>
				<form class="navbar-form navbar-left" Role="search">
					<div class="input-group">
						<div class="input-group-addon"><i class="fa fa-search"></i></div>
						<input type="text" class="form-control" placeholder="Search Roster" ng-model="searchRoster">
					</div>
				</form>
				<div class="btn-group navbar-form" role="group">
					<button type="button" class="btn btn-default" ng-class="{'active': guildList == 'raid'}" ng-click="createCharacterList(guildMembers); guildList = 'raid'">Raid Team</button>
					<button type="button" class="btn btn-default" ng-class="{'active': guildList == 'guild'}" ng-click="createCharacterList(); guildList = 'guild'">Guild</button>
					<button type="button" class="btn btn-default" ng-class="{'active': guildList == 'custom'}" ng-click="characters = []; guildList = 'custom'">Custom</button>
				</div>
				<div class="btn-group navbar-form" role="group">
					<button type="button" class="btn btn-default" ng-class="{'active': raid == 'HM'}" ng-click="raid = 'HM'; iLvlThreshold = iLvlHM">Highmaul</button>
					<button type="button" class="btn btn-default" ng-class="{'active': raid == 'BRF'}" ng-click="raid = 'BRF'; iLvlThreshold = iLvlBRF">Blackrock Foundry</button>
				</div>
			</nav>
			<div ng-show="errorText" class="alert alert-danger" role="alert">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span class="sr-only">Error:</span>
				{{errorText}}
			</div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th ng-click="orderByField='name'; reverseSort = !reverseSort">
							# Name
							<span ng-show="orderByField == 'name' && !reverseSort" class="fa fa-caret-down"></span>
        					<span ng-show="orderByField == 'name' && reverseSort" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="orderByField='primarySpec'; reverseSort = !reverseSort">
							Roles
							<span ng-show="orderByField == 'primarySpec' && !reverseSort" class="fa fa-caret-down"></span>
        					<span ng-show="orderByField == 'primarySpec' && reverseSort" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="orderByField='items.averageItemLevelEquipped'; reverseSort = !reverseSort">
							iLevel
							<span ng-show="orderByField == 'items.averageItemLevelEquipped' && !reverseSort" class="fa fa-caret-down"></span>
        					<span ng-show="orderByField == 'items.averageItemLevelEquipped' && reverseSort" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="orderByField='maxRing'; reverseSort = !reverseSort">
							Ring
							<span ng-show="orderByField == 'maxRing' && !reverseSort" class="fa fa-caret-down"></span>
        					<span ng-show="orderByField == 'maxRing' && reverseSort" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="orderByField='items.head.itemLevel'; reverseSort = !reverseSort">
							Head
							<span ng-show="orderByField == 'items.head.itemLevel' && !reverseSort" class="fa fa-caret-down"></span>
        					<span ng-show="orderByField == 'items.head.itemLevel' && reverseSort" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="orderByField='items.neck.itemLevel'; reverseSort = !reverseSort">
							Neck
							<span ng-show="orderByField == 'items.neck.itemLevel' && !reverseSort" class="fa fa-caret-down"></span>
        					<span ng-show="orderByField == 'items.neck.itemLevel' && reverseSort" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="orderByField='items.shoulder.itemLevel'; reverseSort = !reverseSort">
							Shoulder
							<span ng-show="orderByField == 'items.shoulder.itemLevel' && !reverseSort" class="fa fa-caret-down"></span>
        					<span ng-show="orderByField == 'items.shoulder.itemLevel' && reverseSort" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="orderByField='items.back.itemLevel'; reverseSort = !reverseSort">
							Back
							<span ng-show="orderByField == 'items.back.itemLevel' && !reverseSort" class="fa fa-caret-down"></span>
        					<span ng-show="orderByField == 'items.back.itemLevel' && reverseSort" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="orderByField='items.chest.itemLevel'; reverseSort = !reverseSort">
							Chest
							<span ng-show="orderByField == 'items.chest.itemLevel' && !reverseSort" class="fa fa-caret-down"></span>
        					<span ng-show="orderByField == 'items.chest.itemLevel' && reverseSort" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="orderByField='items.wrist.itemLevel'; reverseSort = !reverseSort">
							Wrist
							<span ng-show="orderByField == 'items.wrist.itemLevel' && !reverseSort" class="fa fa-caret-down"></span>
        					<span ng-show="orderByField == 'items.wrist.itemLevel' && reverseSort" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="orderByField='items.hands.itemLevel'; reverseSort = !reverseSort">
							Hands
							<span ng-show="orderByField == 'items.hands.itemLevel' && !reverseSort" class="fa fa-caret-down"></span>
        					<span ng-show="orderByField == 'items.hands.itemLevel' && reverseSort" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="orderByField='items.waist.itemLevel'; reverseSort = !reverseSort">
							Waist
							<span ng-show="orderByField == 'items.waist.itemLevel' && !reverseSort" class="fa fa-caret-down"></span>
        					<span ng-show="orderByField == 'items.waist.itemLevel' && reverseSort" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="orderByField='items.legs.itemLevel'; reverseSort = !reverseSort">
							Legs
							<span ng-show="orderByField == 'items.legs.itemLevel' && !reverseSort" class="fa fa-caret-down"></span>
        					<span ng-show="orderByField == 'items.legs.itemLevel' && reverseSort" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="orderByField='items.feet.itemLevel'; reverseSort = !reverseSort">
							Feet
							<span ng-show="orderByField == 'items.feet.itemLevel' && !reverseSort" class="fa fa-caret-down"></span>
        					<span ng-show="orderByField == 'items.feet.itemLevel' && reverseSort" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="orderByField='items.finger1.itemLevel'; reverseSort = !reverseSort">
							Ring
							<span ng-show="orderByField == 'items.finger1.itemLevel' && !reverseSort" class="fa fa-caret-down"></span>
        					<span ng-show="orderByField == 'items.finger1.itemLevel' && reverseSort" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="orderByField='items.finger2.itemLevel'; reverseSort = !reverseSort">
							Ring
							<span ng-show="orderByField == 'items.finger2.itemLevel' && !reverseSort" class="fa fa-caret-down"></span>
        					<span ng-show="orderByField == 'items.finger2.itemLevel' && reverseSort" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="orderByField='items.trinket1.itemLevel'; reverseSort = !reverseSort">
							Trinket
							<span ng-show="orderByField == 'items.trinket1.itemLevel' && !reverseSort" class="fa fa-caret-down"></span>
        					<span ng-show="orderByField == 'items.trinket1.itemLevel' && reverseSort" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="orderByField='items.trinket2.itemLevel'; reverseSort = !reverseSort">
							Trinket
							<span ng-show="orderByField == 'items.trinket2.itemLevel' && !reverseSort" class="fa fa-caret-down"></span>
        					<span ng-show="orderByField == 'items.trinket2.itemLevel' && reverseSort" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="orderByField='items.mainHand.itemLevel'; reverseSort = !reverseSort">
							MH
							<span ng-show="orderByField == 'items.mainHand.itemLevel' && !reverseSort" class="fa fa-caret-down"></span>
        					<span ng-show="orderByField == 'items.mainHand.itemLevel' && reverseSort" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="orderByField='items.offHand.itemLevel'; reverseSort = !reverseSort">
							OH
							<span ng-show="orderByField == 'items.offHand.itemLevel' && !reverseSort" class="fa fa-caret-down"></span>
        					<span ng-show="orderByField == 'items.offHand.itemLevel' && reverseSort" class="fa fa-caret-up"></span>
						</th>
	          			<th ng-click="orderByField='highmaulNormal'; reverseSort = !reverseSort">
	          				N {{raid}}
	          				<span ng-show="orderByField == 'highmaulNormal' && !reverseSort" class="fa fa-caret-down"></span>
        					<span ng-show="orderByField == 'highmaulNormal' && reverseSort" class="fa fa-caret-up"></span>
	          			</th>
	          			<th ng-click="orderByField='highmaulHeroic'; reverseSort = !reverseSort">
	          				H {{raid}}
	          				<span ng-show="orderByField == 'highmaulHeroic' && !reverseSort" class="fa fa-caret-down"></span>
        					<span ng-show="orderByField == 'highmaulHeroic' && reverseSort" class="fa fa-caret-up"></span>
	          			</th>
	          			<th ng-click="orderByField='highmaulMythic'; reverseSort = !reverseSort">
	          				M {{raid}}
	          				<span ng-show="orderByField == 'highmaulMythic' && !reverseSort" class="fa fa-caret-down"></span>
        					<span ng-show="orderByField == 'highmaulMythic' && reverseSort" class="fa fa-caret-up"></span>
	          			</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="character in characters | orderBy: orderByField : reverseSort | filter:searchRoster">
						<td class="color-c{{character.class}} name"><a href="http://{{region}}.battle.net/wow/en/character/{{characterRealm}}/{{character.name}}/simple">{{character.name}}</a><div class="pull-right remove-character" ng-click="removeCharacter($index)" aria-label="Remove"><i class="glyphicon glyphicon-remove"></i></div></td>
						<td>{{character.talents[0].spec.role | lowercase}}, {{character.talents[1].spec.role | lowercase}}</td>
						<td ng-class="{'danger': (character.items.averageItemLevelEquipped < iLvlThreshold), 'success': (character.items.averageItemLevelEquipped >= iLvlThreshold)}">{{character.items.averageItemLevelEquipped}}</td>
						<td ng-class="{'danger': (character.maxRing < ringThreshold), 'success': (character.maxRing >= ringThreshold)}">{{character.maxRing}}</td>
						<td ng-class="{'danger': (character.items.head.itemLevel <= iLvlThreshold)}" class="color-q{{character.items.head.quality}}"><a href="http://www.wowhead.com/item={{character.items.head.id}}" rel="item={{character.items.head.id}}">{{character.items.head.itemLevel}}</a></td>
						<td ng-class="{'danger': (character.items.neck.itemLevel <= iLvlThreshold)}" class="color-q{{character.items.neck.quality}} {{getEnchant(character.items.neck)}}"><a href="http://www.wowhead.com/item={{character.items.neck.id}}" rel="item={{character.items.neck.id}}">{{character.items.neck.itemLevel}}</a></td>
						<td ng-class="{'danger': (character.items.shoulder.itemLevel <= iLvlThreshold)}" class="color-q{{character.items.shoulder.quality}}"><a href="http://www.wowhead.com/item={{character.items.shoulder.id}}" rel="item={{character.items.shoulder.id}}">{{character.items.shoulder.itemLevel}}</a></td>
						<td ng-class="{'danger': (character.items.back.itemLevel <= iLvlThreshold)}" class="color-q{{character.items.back.quality}} {{getEnchant(character.items.back)}}"><a href="http://www.wowhead.com/item={{character.items.back.id}}" rel="item={{character.items.back.id}}">{{character.items.back.itemLevel}}</a></td>
						<td ng-class="{'danger': (character.items.chest.itemLevel <= iLvlThreshold)}" class="color-q{{character.items.chest.quality}}"><a href="http://www.wowhead.com/item={{character.items.chest.id}}" rel="item={{character.items.chest.id}}">{{character.items.chest.itemLevel}}</a></td>
						<td ng-class="{'danger': (character.items.wrist.itemLevel <= iLvlThreshold)}" class="color-q{{character.items.wrist.quality}}"><a href="http://www.wowhead.com/item={{character.items.wrist.id}}" rel="item={{character.items.wrist.id}}">{{character.items.wrist.itemLevel}}</a></td>
						<td ng-class="{'danger': (character.items.hands.itemLevel <= iLvlThreshold)}" class="color-q{{character.items.hands.quality}}"><a href="http://www.wowhead.com/item={{character.items.hands.id}}" rel="item={{character.items.hands.id}}">{{character.items.hands.itemLevel}}</a></td>
						<td ng-class="{'danger': (character.items.waist.itemLevel <= iLvlThreshold)}" class="color-q{{character.items.waist.quality}}"><a href="http://www.wowhead.com/item={{character.items.waist.id}}" rel="item={{character.items.waist.id}}">{{character.items.waist.itemLevel}}</a></td>
						<td ng-class="{'danger': (character.items.legs.itemLevel <= iLvlThreshold)}" class="color-q{{character.items.legs.quality}}"><a href="http://www.wowhead.com/item={{character.items.legs.id}}" rel="item={{character.items.legs.id}}">{{character.items.legs.itemLevel}}</a></td>
						<td ng-class="{'danger': (character.items.feet.itemLevel <= iLvlThreshold)}" class="color-q{{character.items.feet.quality}}"><a href="http://www.wowhead.com/item={{character.items.feet.id}}" rel="item={{character.items.feet.id}}">{{character.items.feet.itemLevel}}</a></td>
						<td ng-class="{'danger': (character.items.finger1.itemLevel <= iLvlThreshold)}" class="color-q{{character.items.finger1.quality}} {{getEnchant(character.items.finger1)}}"><a href="http://www.wowhead.com/item={{character.items.finger1.id}}" rel="item={{character.items.finger1.id}}">{{character.items.finger1.itemLevel}}</a></td>
						<td ng-class="{'danger': (character.items.finger2.itemLevel <= iLvlThreshold)}" class="color-q{{character.items.finger2.quality}} {{getEnchant(character.items.finger2)}}"><a href="http://www.wowhead.com/item={{character.items.finger2.id}}" rel="item={{character.items.finger2.id}}">{{character.items.finger2.itemLevel}}</a></td>
						<td ng-class="{'danger': (character.items.trinket1.itemLevel <= iLvlThreshold)}" class="color-q{{character.items.trinket1.quality}}"><a href="http://www.wowhead.com/item={{character.items.trinket1.id}}" rel="item={{character.items.trinket1.id}}">{{character.items.trinket1.itemLevel}}</a></td>
						<td ng-class="{'danger': (character.items.trinket2.itemLevel <= iLvlThreshold)}" class="color-q{{character.items.trinket2.quality}}"><a href="http://www.wowhead.com/item={{character.items.trinket2.id}}" rel="item={{character.items.trinket2.id}}">{{character.items.trinket2.itemLevel}}</a></td>
						<td ng-class="{'danger': (character.items.mainHand.itemLevel <= iLvlThreshold)}" class="color-q{{character.items.mainHand.quality}} {{getEnchant(character.items.mainHand)}}"><a href="http://www.wowhead.com/item={{character.items.mainHand.id}}" rel="item={{character.items.mainHand.id}}">{{character.items.mainHand.itemLevel}}</a></td>
						<td ng-class="{'danger': (character.items.offHand.itemLevel && character.items.offHand <= iLvlThreshold)}" class="color-q{{character.items.offHand.quality}}"><a href="http://www.wowhead.com/item={{character.items.offHand.id}}" rel="item={{character.items.offHand.id}}">{{character.items.offHand.itemLevel}}</a></td>
						<td>{{character.highmaulNormal}}</td>
						<td>{{character.highmaulHeroic}}</td>
						<td>{{character.highmaulMythic}}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js"></script>
		<script type="text/javascript" src="app/ui-bootstrap.js"></script>
		<script type="text/javascript" src="app/app.js"></script>
		<script type="text/javascript" src="http://static.wowhead.com/widgets/power.js"></script>
	</body>
</html>